@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
* {
    font-family: 'Rowdies', cursive;
}

body {
    background-color: black;
}

.text{
    text-align:center;
    Padding-top: 200px;
    font-weight: bold;
    font-size: 50px;
    color: aqua;
}

.text span {
    color: red;
}